{{input
  type=type
  value=value
  placeholder=placeholder
  class=(if (or validationError serverValidationError) "has-error")}}

<span class="validation-error">
  {{validationError}}
  {{serverValidationError}}
</span>
