{{input
  type=type
  value=value
  placeholder=placeholder
  class=(if (not (v-get model attrName "isValid")) "has-error")}}

<span class="validation-error">
  {{v-get model attrName "message"}}
</span>
