<h1>Demo for ember-cp-validations</h1>

<p>
  A Node.js Express server is used to serve user data.<br />
  Saving data is not implemented, session data will be lost after page reload.
</p>

{{outlet}}
